// Custom
@import "./variables.scss";

@mixin loading($min-height: 100px) {
    .loading {
        display: block;
        text-align: center;
        color: $primary-color;
        font-size: 24px;
        min-height: $min-height;
    }
}
