<div class="row">
    <div class="col-6 col-md-3" *ngFor="let superHeroe of (superHeroes | async); trackBy: trackByFunction">
        <div class="card">
            <!--
                Un enlace sole puede contener como valor texto en su etiqueta
                debido a que esto afecto los lectores de pantalla para personas
                con discapacidad siendo penalizado por los diferentes buscadores.
                Para evitar este inconveniente se simula un envoltorio compuesto
                por un enlace que visualmente el usuario interprete que puede
                presionar la imagen.
            -->
            <a [routerLink]="['/', superHeroe.id]" [title]="superHeroe.name">{{superHeroe.name}}</a>

            <figure class="card-img-top">
                <img class="img-fluid" [src]="superHeroe.images.md" [alt]="superHeroe.name">
                <figcaption>{{superHeroe.name}}</figcaption>
            </figure>
            <div class="card-body">
                <ul>
                    <li>Intelligence: <strong>{{superHeroe.powerstats.intelligence || 'N'}}</strong></li>
                    <li>Speed: <strong>{{superHeroe.powerstats.speed || 'N'}}</strong></li>
                    <li>Power: <strong>{{superHeroe.powerstats.power || 'N'}}</strong></li>
                    <li>Gender: <strong>{{superHeroe.appearance.gender || 'N'}}</strong></li>
                    <li>Race: <strong>{{superHeroe.appearance.race || 'N'}}</strong></li>
                </ul>
            </div>
        </div>
    </div>
</div>