// Bootstrap
@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/_mixins";

// Custom
@import "../../../themes/variables.scss";

:host {
  display: block;
  margin: 60px 0px 30px 0px;

  @import "~bootstrap/scss/_images";
  @import "~bootstrap/scss/_card";

  .card {
    position: relative;
    padding: 0px;
    margin-bottom: 30px;

    a {
      position: absolute;
      top: 0px;
      left: 0px;
      display: inline-block;
      z-index: 1;
      width: 100%;
      height: 100%;
      opacity: 0;
    }

    figure {
      margin: 0px;

      figcaption {
        padding: 31px 10px 0px 10px;
        text-align: center;
        color: $primary-color;
        font: DemiBold 26px/31px TT Supermolot Neue;
      }
    }

    .card-body {
      padding: 10px;

      ul {
        margin: 0px;
        padding: 0px;
        list-style: none;
      }
    }
  }
}
