// Custom
@import "./themes/variables.scss";

body {
    color: $font-color;
    font-style: $font-size;
    letter-spacing: $letter-spacing;
}

a {
    color: $font-color;

    &:hover,
    &:active,
    &.active {
        color: $font-color;
        text-decoration: underline !important;
    }
}
